apiVersion: apps/v1
kind: Deployment
metadata:
  name: users-deployment
  labels:
    app: users
spec:
  replicas: 1
  selector:
    matchLabels:
      app: users
  template:
    metadata:
      labels:
        app: users
    spec:
      containers:
        - name: users
          image: alkatzo/kube-networking:users-api
          imagePullPolicy: Always
          ports:
            - containerPort: 8080

---
apiVersion: v1
kind: Service
metadata:
  name: users
spec:
  type: NodePort
  selector:
    app: users
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30080
