apiVersion: v1
kind: Pod
metadata:
  name: configmap-volume-demo
spec:
  containers:
    - name: app-container
      image: busybox
      command: ["/bin/sh"]
      args: ["-c", "while true; do sleep 30; done"]
      volumeMounts:
        - name: config-volume
          mountPath: /etc/config
  volumes:
    - name: config-volume
      configMap:
        name: configmap-volume-demo
