apiVersion: apps/v1
kind: Deployment
metadata:
  name: story-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: story
  template:
    metadata:
      labels:
        app: story
    spec:
      securityContext:
        runAsUser: 0      # ensures the container can write to the volume
      containers:
        - name: story
          image: alkatzo/kub-data-demo:2.0
          ports:
            - containerPort: 3000
          volumeMounts:
            - name: story-volume
              mountPath: /app/story
      volumes:
        - name: story-volume
          persistentVolumeClaim:
            claimName: story-pvc
