apiVersion: apps/v1
kind: Deployment
metadata:
  name: story-deployment
spec: 
  replicas: 1
  selector:
    matchLabels:
      app: story
  template:
    metadata:
      labels:
        app: story
    spec:
      containers:
        - name: story
          image: alkatzo/kub-data-demo:2.0
          volumeMounts:
            - name: story-volume
              mountPath: /app/story
      volumes:
        - name: story-volume
          hostPath:
            # minikube mount "C:\Users\User\Projects\K8S\kub-data-02-deployment-and-service\data:/data/story"
            path: /data/story
            type: DirectoryOrCreate